<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2>WebPhim247</h2>
                <p class="pr-5 text-white-50">Web xem phim chất lượng HD hàng đầu Việt Nam</p>
                <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
                            class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3"></h4>
                <ul class="m-0 p-0">
                    <a>WebPhim247 không chịu trách nhiệm đối với bất kỳ nội dung nào được đăng tải trong
                        trang web này. Mọi nội dung đều được sưu tầm và nhúng vào website tương tự như công cụ tìm
                        kiếm Google hay những trang web tìm kiếm khác.</a>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p>Số 1, Võ Văn Ngân, Thủ Đức, Tp.HCM</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+84) 123456789</p>
                <p><i class="fa fa-envelope-o mr-3"></i>mail@gmail.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2022. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>